<h3><%= notice %></h3>

<table>
    <h3 class="navigation">つぶやき一覧</h3>

  <% @narrates.each do |narrate| %>
    <tr class="content">
      <td>
        <% if  narrate.user.image? %>
          <p class="icon"><%= image_tag narrate.user.image %></p>
        <% else %>
          <p class="icon"><img src="/images/icon.png"></p>
        <% end %>
        <p><%= narrate.user.name %></p>
      <td>
      <td class="balloon"><%= narrate.content %>
        <% if  narrate.image? %>
          <p><%= image_tag narrate.image %></p>
        <% end %>
      </td>

      <% if narrate.user == current_user %>
        <td type="button" class="btn btn-default" >
          <%= link_to'編集',edit_narrate_path(narrate.id) , data: { confirm: '本当に編集してよろしいですか？' }%>
        </td>
        <td type="button" class="btn btn-default">
          <%= link_to '削除',narrate_path(narrate.id) , method: :delete , data: { confirm: '本当に削除してよろしいですか？' }%>
        </td>
      <% else %>
        <% @favorite = current_user.favorites.find_by(narrate_id: narrate.id) %>
        <% if @favorite.present? %>
          <td type="button" class="btn btn-default" >
            <%= link_to 'お気に入り解除', favorite_path(id: @favorite.id), method: :delete%>
          <td>
        <% else %>
          <td type="button" class="btn btn-info" >
            <%= link_to 'お気に入りする', favorites_path(narrate_id: narrate.id), method: :post %>
          <td>
        <% end %>
      <% end %>
    </tr>
    <tr class="spacer"></tr>
  <% end %>
</table>
