<h3><%= notice %></h3>
<h3 class="form_navigation"><%= @user.name %>のページ</h3>

<div class="home_info">
  <h3>メールアドレス: <%= @user.email %>
  <div>
    <tr>現在のアイコン：</tr>
    <% if @user.image? %>
      <td class="icon"><%= image_tag @user.image %></td>
    <% else %>
      <td class="icon"><img src="/images/icon.png"></td>
    <% end %>
  </div>
  <div class="icon_edit">
    <%= form_with(model: @user, local: true ) do |form| %>
        <%= form.label :アイコンを変更する %>
        <%= form.file_field :image %>
        <%= form.submit "変更する" ,:class=>"btn btn-default" %>
    <% end %>
  </div>
</div>


<table>
    <h3 class="navigation">お気に入りのつぶやき</h3>

  <% @fav_narrates.each do |narrate| %>
    <tr class="content">
      <td>
        <% if  narrate.user.image? %>
          <p class="icon"><%= image_tag narrate.user.image %></p>
        <% else %>
          <p class="icon"><img src="/images/icon.png"></p>
        <% end %>
        <p class="user_name"><%= narrate.user.name %></p>
      </td>
      <td class="balloon">
        <%= narrate.content %>
        <% if  narrate.image? %>
          <p><%= image_tag narrate.image %></p>
        <% end %>
      </td>
      <% @favorite = current_user.favorites.find_by(narrate_id: narrate.id) %>
        <td type="button" class="btn btn-info" >
          <%= link_to 'お気に入り解除', favorite_path(id: @favorite.id), method: :delete%>
        <td>
    </tr>
    <tr class="spacer"></tr>
  <% end %>
</table>
