<!DOCTYPE html>
<html>
  <head>
    <title>Narrater</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header class="header_area">
      <div class="container">
        <ul class="row">
          <li class="col-sm-8 col-md-2"><%= link_to 'HOME', root_path %></li>
          <li class="col-sm-8 col-md-2"><%= link_to 'つぶやき', narrates_path %></li>
          <li class="col-sm-8 col-md-2"><%= link_to '投稿', new_narrate_path %></li>
        </ul>
      </div>
    </header>

    <%= yield %>

    <fotter class="fotter_area">
      <p>tbt's test application</p>
    </fotter>

  </body>
</html>
