<!DOCTYPE html>
<html>
  <head>
    <title>Narrater</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="google-site-verification" content="WLjGWoItM7j9YetwEBuOGMJnG0MFDVQKCPPsOC_nrkY" />

  </head>

  <body>
    <header class="header_area">
      <div class="container">
        <ul class="row">
          <li class="col-sm-8 col-md-2"><%= link_to 'HOME', root_path %></li>
          <li class="col-sm-8 col-md-2"><%= link_to 'つぶやき', narrates_path %></li>
          <li class="col-sm-8 col-md-2"><%= link_to '投稿', new_narrate_path %></li>
        </ul>
      </div>
    </header>

    <div class = "login_area" >
      <% if logged_in? %>
        <%= link_to "マイページ", user_path(current_user.id) %>
        <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
      <% else %>
        <%= link_to "新規登録", new_user_path %>
        <%= link_to "ログイン", new_session_path %>
      <% end %>
    </div>

    <%= yield %>

    <fotter class="fotter_area">
      <p>tbt's test application</p>
    </fotter>

  </body>
</html>
